.yyn-tengyun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $f;
    height: 5.35rem;
    background: url(../../assets/images/yyn-ty.png) no-repeat center center;
    background-size: cover;
    .tengyun-title{
        text-align: center;
        h1{
            font-size: .4rem;
        }
        p{
            font-size: .24rem;
            margin-top: .18rem;
        }
    }
    .tengyun-block{
        width: 8rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: .4rem;
        li{
            width: 1.32rem;
            height: .42rem;
            border: .02rem solid $f;
            color: #fff;
            font-size: .18rem;
            line-height: .42rem;
            display: inline-block;
            margin: 0 .16rem;
            border-radius: .06rem;
            cursor: pointer;
            font-family: PingFangBold;
            text-align: center;
            margin-bottom: .4rem;
        }
    }
    button{
        width: 2.1rem;
        height: .7rem;
        line-height: .7rem;
        background: $f;
        margin-top: .3rem;
        font-size: .24rem;
        cursor: pointer;
        transition-duration: .3s;
        border-radius: .4rem;
        border: 0;
        color: $te;
        &:hover{
            opacity: .8;
        }
    }
}
