@font-face {
  font-family: "iconfont"; /* Project id 2068035 */
  src: url('iconfont.woff2?t=1623572970296') format('woff2'),
       url('iconfont.woff?t=1623572970296') format('woff'),
       url('iconfont.ttf?t=1623572970296') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcheck:before {
  content: "\e671";
}

.iconcopyright:before {
  content: "\e687";
}

.icongithub:before {
  content: "\e600";
}

.icontranslate-white:before {
  content: "\e8cc";
}

.icontranslate-dark:before {
  content: "\e8cd";
}

