/* font color */
$ta: #2a2a2a;
$tn: #29b1cd;
$te: #28b1cd;
$f: #fff;
$ea: #8a8a8a;
$zero: #000;
$three: #333;
$tn: #29b1cd;

/* background color */
$bg-te: #28b1cd;
$bg-oe: #1e9cc2;
$f5: #f5f5f5;
$f44: #f44b4b;

/* border color */
$e5: #e5e5e5;
$e: #eee;


