/* 默认主题色*/ 
$themeColor: #1487D9;
/* font color */
$f: #fff;
$zero: #000;
$three: #333;
$b4: #434e59;

/* background color */
$f5: #f5f5f5;
$c3: #ccc;
$e3: #eee;
$ed: #ededed;

/* theme color*/
$lightGreen: #09E6CC;
$skyBlue: #0ACCF0;
$dark: #001529;

/* border color */
$e5: #e5e5e5;
$e: #eee;

/* dot color */
$dot1: #32aacc;
$dot2: #64aacc;
$dot3: #96aacc;
$dot4: #c8aacc;
$dot5: #faaacc;;

/* font bold */
$fw400: 400;
$fw500: 500;
$fw600: 600;

/* z-index value */ 
$zx1: 1;
$zx5: 5;
$zx10: 10;
$zx20: 20;
$zx30: 30;
$zx40: 40;
$zx50: 50;
$zx60: 60;
$zx70: 70;
$zx80: 80;
$zx90: 90;
$zx100: 100;
$zx999: 999;
$zx1000: 1000;

/* rgb */
$rgb1: rgba(0, 0, 0, .1);
$rgb45: rgba(0, 0, 0, .45);
$rgb4: rgba(0, 0, 0, .4);

