/* font color */
$f: #fff;
$zero: #000;
$three: #333;

/* background color */
$f5: #f5f5f5;


/* theme color*/
$lightGreen: #09E6CC;
$skyBlue: #0ACCF0;
$lightBlue: #1487D9;
$dark: #001529;

/* border color */
$e5: #e5e5e5;
$e: #eee;

/* dot color */
$dot1: #32aacc;
$dot2: #64aacc;
$dot3: #96aacc;
$dot4: #c8aacc;
$dot5: #faaacc;;

/* font bold */
$fw500: 500;

/* z-index value */ 
$zx1: 1;
$zx5: 5;
$zx10: 10;
$zx20: 20;
$zx30: 30;
$zx40: 40;
$zx50: 50;
$zx60: 60;
$zx70: 70;
$zx80: 80;
$zx90: 90;
$zx100: 100;
$zx999: 999;
$zx1000: 1000;

