*{padding:0;margin:0;outline:none;-webkit-tap-highlight-color:transparent;}
.clearfix:after,.cl:after{content:'\20';display:block;height:0;clear:both;}.clearfix{*zoom:1;}.clear{clear:both;}

.center{text-align: center;}
.relative{position: relative;}
.lineHeight{line-height: 100%;}

a{text-decoration: none;}

body,html{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    font-size: 12px;
    line-height: 1.5;
    background: $f5;
}
input{-webkit-appearance: none;appearance: none;-webkit-tap-highlight-color: $zero;}
textarea{-webkit-appearance: none;appearance: none;resize:none;-webkit-tap-highlight-color: $zero;}
// img{max-width:100%;}
input,textarea{-webkit-user-select:auto;caret-color: $three;}
button,select,textarea{outline:none}
input[disabled],input:disabled,input.disabled{color: $three;-webkit-text-fill-color: $three;-webkit-opacity:1;opacity: 1;}  

h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: $fw500;
    font-family: PingFangBold;
}

.mt10{margin-top: 10px};.mt20{margin-top: 20px};.mt30{margin-top: 30px}
.mb10{margin-bottom: 10px};.mb20{margin-bottom: 20px};.mb30{margin-bottom: 30px}
.ml10{margin-left: 10px};.ml20{margin-left: 20px};.ml30{margin-left: 30px}
.mr10{margin-right: 10px};.mr20{margin-right: 20px};.mr30{margin-right: 30px}

.hideDom{
    display: none !important;
}

.fixed {
    position: fixed;
    z-index: $zx100;
    left: calc(50% - 200px);
}

.whiteBg{
    background: $f;
}
