.yyn-header{
    height: 60px;
    background: $dark;
    color: $f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    &.header_fixed{
        position: fixed;
        z-index: $zx10;
        top: 0;
        right: 0;
    }
    .header-left{
        width: 100px;
        .fold-btn{
            display: inline-block;
            cursor: pointer;
            svg{
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
    .header-right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .yyn-toolbar{
            display: flex;
            align-items: center;
            svg{
                width: 1.5em;
                height: 1.5em;
            }
        }
        .yyn-avatar{
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 0 20px;
            p{
                margin: 0 0 0 10px;
                font-size: 16px;
                color: $f;
                font-weight: $fw500;
                font-style: italic;
            }
        }
        .yyn-language{
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            span{
                display: inline-block;
                width: 18px;
                height: 18px;
            }
        }
    }
}
