
@import './base.scss';

.yyn-wrapper{
    width: 100%;
    background: $themeColor;
	// background: linear-gradient(to left, rgb(6, 34, 60), #0a1f42);
}

.yyn-content{
    width: 100%;
    background: $c3;
    box-sizing: border-box;
    overflow: scroll;
}

.yyn-mainContent{
    background: transparent;
    min-height: 400px;
    height: 100%;
}

