.yyn-date{
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 5px;
    span{
        font-size: 16px;
        font-weight: $fw400;
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        color: $themeColor;
        &:nth-child(1){
            color: $dot1;
        }
        &:nth-child(2){
            color: $dot1;
        }
        &:nth-child(3){
            color: $dot2;
        }
        &:nth-child(4){
            color: $dot2;
        }
        &:nth-child(5){
            color: $dot3;
            margin-right: 10px;
        }
        &:nth-child(6){
            color: $dot3;
        }
        &:nth-child(7){
            color: $dot4;
        }
        &:nth-child(8){
            color: $dot4;
        }
        &:nth-child(9){
            color: $dot5;
        }
        &:nth-child(10){
            color: $dot5;
        }
    }
}
