.yyn-date{
    display: flex;
    align-items: center;
    span{
        font-size: 20px;
        font-weight: $fw600;
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        color: $themeColor;
        &:nth-child(1){
            color: $themeColor;
        }
        &:nth-child(2){
            color: $themeColor;
        }
        &:nth-child(3){
            color: $themeColor;
        }
        &:nth-child(4){
            color: $themeColor;
        }
        &:nth-child(5){
            color: $themeColor;
            margin-right: 10px;
        }
        &:nth-child(6){
            color: $themeColor;
        }
        &:nth-child(7){
            color: $themeColor;
        }
        &:nth-child(8){
            color: $themeColor;
        }
        &:nth-child(9){
            color: $themeColor;
        }
        &:nth-child(10){
            color: $themeColor;
        }
    }
}
