.yyn-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    img{
        width: 30px;
        height: 30px;
    }
    h1{
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        color: $f;
        font-weight: $fw500;
        margin: 0 0 0 10px;
        white-space: nowrap;
    }
}
