.yyn-userInfo{
    display: flex;
    align-items: center;
    .basic-info{
        margin-left: 20px;
        h2{
            line-height: 30px;
            font-size: 22px;
            // color: $zero;
            margin: 0 0 5px 0;
            font-weight: $fw400;
        }
        .yyn-motto{
            line-height: 20px;
            font-size: 14px;
            // color: $rgb45;
            margin: 0;
        }
    }
}
