.yyn-breadCrumb{
    margin-bottom: 10px;
    .ant-breadcrumb{
        .ant-breadcrumb-link{
            cursor: default;
        }
        .anticon-down{
            display: none;
        }
    }
}
