.yyn-dashboard{
    .dashboard-top{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .dashboard-content{
        margin: 10px 0;
        min-height: 300px;
        display: flex;
        .content-left{
            max-width: 600px;
            .content-head{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                height: 50px;
                line-height: 50px;
                h2{
                    margin: 0;
                    font-weight: $fw500;
                }
                span{
                    color: $themeColor;
                    cursor: pointer;
                }
            }
            .content-card{
                display: flex;
                flex-wrap: wrap;
            }
        }
        .content-right{
            flex: 1;
            margin-left: 10px;
            padding: 0 20px;
            h2{
                margin: 0;
                height: 50px;
                line-height: 50px;
                font-weight: $fw500;
            }
        }
    }
}
