.yyn-dashboard{
    .dashboard-top{
        display: flex;
        justify-content: space-between;
        background: $f;
        padding: 10px 20px;
    }
    .dashboard-content{

    }
    .dashboard-footer{
        
    }
}
