.yyn-error{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background: $f;
    .error-image{
        width: 400px;
        height: 360px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
        background-image: url('https://gw.alipayobjects.com/zos/rmsportal/KpnpchXsobRgLElEozzI.svg');
		&.error-404{
            background-image: url('https://gw.alipayobjects.com/zos/rmsportal/KpnpchXsobRgLElEozzI.svg');
        }
        &.error-500{
            background-image: url('https://gw.alipayobjects.com/zos/rmsportal/RVRUAYdCGeYNBWoKiIwB.svg');
        }
    }
    .error-content{
        margin-left: 50px;
        h1 {
			color: $b4;
			font-size: 72px;
			font-weight: $fw600;
			line-height: 72px;
			margin-bottom: 24px;
		}
        .error-desc {
			color: $rgb45;
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 16px;
		}
    }
}
